.timer {
  border: 2px solid #bf3633;
  padding: 40px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-legend {
  color: white;
  font-size: 4em;
}

.cancel-btn, .resume-btn {
  border: 1px solid #bf3633;
  border-radius: 4px;
  padding: 20px;
  width: 200px;
  color: white;
  background-color: #96211e;
  font-size: 2em;
  margin: 10px;
}

.warning {
  background-color: #f4bc02;
}

.warning .timer-legend {
  color: #96211e;
}